li {
    list-style: none;
}

#ulNavBar {
    padding: 0 0 1em 1em;
}

#ulNavBar li {
    background-color: black;
    color: white;
    padding: 2em;
    display: inline;
}

.styleNavs {
    margin: auto;
    float: left;
    width: 50%;
}

.wishCategories img {
    border-radius: 25px;
}

.styleNavs li {
    float: left;
    width: 40%;
}

.clearFloat {
    clear: both;
    margin: 0;
    padding: 0;
}

#left {
    margin: auto;
    float: left;
    width: 40%;
    padding: 0 0 0 3em;
}

#left img {
    width: 500px;
    height: 300px;
}

.wishCategories {
    margin: 0 0 2em 0;
}

#ulAddBar li {
    background-color: black;
    color: white;
    padding: 2em;
    display: inline;
    width: 40%;
}
#right {
    float: right;
    width: 40%;
    padding: 0 3em 0 0;
}

#right img {
    width: 150px;
    height: 200px;
}

.prTitles{
    
}

.floatLeft {
    float: left;
}

.ulPR li {
    margin-left: 9em;
    padding: 1em;
}